<a href="https://colab.research.google.com/github/a-kiet0103/phantichdulieu/blob/main/Lab03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [8]:
patientheartrate = pd.read_csv('https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/heart_disease_dataset.csv?fbclid=IwAR33rwwXlgcsoUHMOpQFZ2NVO_bMvAGBpNVo88l9Thc_AWCaSLMKmAH_RqI')
patientheartrate.head(5)

    age sex   cp  trestbps   chol  fbs  ...  exang  oldpeak  slope   ca  thal  state
0  63.0   M  tap     145.0  233.0  yes  ...    0.0      2.3    3.0  0.0   6.0    0.0
1  67.0   M  asp     160.0  286.0   no  ...    1.0      1.5    2.0  3.0   3.0    2.0
2  67.0   M  asp     120.0  229.0   no  ...    1.0      2.6    2.0  2.0   7.0    1.0
3  37.0   M  nap     130.0  250.0   no  ...    0.0      3.5    3.0  0.0   3.0    0.0
4  41.0   F  aap     130.0  204.0   no  ...    0.0      1.4    1.0  0.0   3.0    0.0

[5 rows x 14 columns]